@font-face {font-family: 'iconfont';
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
html,body{
  width:100%;
  height:100%;
  background: #222;
}
.content{
  width:100%;
  height:100%;
}
.stage{
  position:relative;
  width:100%;
  height:680px;
}
.img-sec{
  position:relative;
  width:100%;
  height:100%;
  overflow:hidden;
  background: #ddd;
  perspective:1800px;
}
.controller-nav{
  position:absolute;
  left:0;
  bottom:30px;
  z-index:101;
  width:100%;
  text-align:center;
}
.img-figure{
  position:absolute;
  width:320px;
  height:360px;
  margin:0;
  padding:40px;
  background: #fff;
  box-sizing:border-box;
  cursor:pointer;
  transform-origin:0 50% 0;
  transform-style:preserve-3d;
  transition:transform .6s ease-in-out,background-color .3s,left .7s,top .6s
}
figure figcaption{
  text-align:center;
}
.img-title{
  margin:20px 0 0 0;
  color:#a7a0a2;
  font-size:16px;
}
img{
  width:240px;
  height:240px;
}
.controller-unit{
  display: inline-block;
  width:30px;
  height:30px;
  margin:0 5px;
  text-align:center;
  cursor:pointer;
  background: #aaa;
  border-radius:50%;
  transform:scale(.5);
  vertical-align: middle;
  transform-style:preserve-3d;
  transition:transform .6s ease-in-out,background-color .3s,left .7s,top .6s

}
.is-center{
  backgroun:#888;
  transform:scale(1);

}
.controller-unit::after{
  font-family:"iconfont";
  content:"\e6db";
  font-size:80%;
  line-height:30px;

}
.img-sec .is-inverse{
background: #555;
  transform:translateX(320px) rotateY(180deg);
}
.controller-nav .is-inverse{
  background: #555;
  transform: rotateY(180deg);
}
.img-back{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#fff;
  color:#a7a0a2;
  font-size:1.2em;
  line-height:1.2;
  transform:rotateY(180deg) translateZ(1px);
  backface-visibility: hidden;
box-sizing:border-box;
  padding:50px 40px;
  overflow:hidden
}
